pandas>=2.0
numpy>=1.24
SQLAlchemy>=2.0
PyMySQL>=1.1
cryptography>=41.0
jupyter>=1.0
nbformat>=5.9
ipykernel>=6.25
scikit-learn>=1.2
scipy>=1.9
matplotlib>=3.6
seaborn>=0.12
nbconvert>=7.0
xgboost>=2.0
joblib>=1.3